*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

span, .error{
    color: red;
}

h1{
    text-align: center;
}

div{
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: fit-content;
    padding: 20px;
    border-radius: 20px;
    background-color: rgb(236, 197, 147);
    box-shadow: 2px 2px 4px 2px rgba(0, 0, 0, 0.2);
}

form{

    display: flex;
    flex-direction: column;
    justify-content: center;
    max-width: fit-content;
}